.root{
    -fx-background-color: darkgrey;
    -fx-font-size:12pt;
    -fx-font-family: 'Comic Sans MS';

}
.chart-bar{
    -fx-background-color: #444;
    -fx-border-color: rgb(37,42,43);
}
.text-area{
    -fx-font-size:8pt;
}
.label{
    -fx-font-size:10pt;
}
.check-box{
    -fx-font-size:10pt;
}
.combo-box{
    -fx-font-size:10pt;
}
#titleLabel{
    -fx-font-size:20pt;
}
